<!DOCTYPE html>
<html>
<head>
<!--

-->
	<title>Lista de Usuarios</title>
	{% load static %}
	<link rel="stylesheet" type="text/css"
	href="{% static 'CrudUsuarios/css/listar.css' %}">
</head>
<body>
	{% for usuario in usuarios %}
	<p>
		{{usuario.rut}} : {{usuario.nombre}} 
		{{usuario.apellido}} : {{usuario.edad}}
	</p>
	{% endfor %}
</body>
</html>